@media (max-width:575px) {
    nav .nav-left img {
display: none;
    }
    nav .sidebyside {
        justify-content: center;
    }
    nav .nav-right ul {
        column-gap: 12px;
    }

    #banner img {
        display: none;
    }
#banner{
    text-align: center;
}
    #banner h1 {
        font-size: 41px;
        line-height: 61px;
    }
    #banner p {
        font-size: 15px;
        margin: 18px auto;
    }

    .brands_image {
        gap: 25px 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .collection-items {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
    #collection {
        padding-top: 0px;
        padding-bottom: 50px;
    }
    #feature .sidebyside {
        flex-direction: column;

    }

    #feature .feature-right h2 {
        font-size: 24px;
        text-align: center;
        margin-top: 18px;
    }

    #feature .feature-right {
        text-align: center;
    }

    .feature-left img{
        width: 100%;
    }

}

@media (min-width:576px) and (max-width:767.99px){
    nav .sidebyside {
        justify-content: space-around;
        align-items: center;
    }
    #banner h1 {
        font-size: 33px;
        line-height: 50px;
    }

    #banner p {
        font-size: 14px;
    }

    .banner-left{
        padding-left: 5px;
    }

    .brands_image {
        gap: 25px 20px;
        grid-template-columns: repeat(4, 1fr);
    }
    .collection-items {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }
    #collection {
        padding-top: 0px;
    }
    #feature .sidebyside {
        flex-direction: column;

    }

    #feature .feature-right h2 {
        font-size: 24px;
        text-align: center;
        margin-top: 18px;
    }

    #feature .feature-right {
        text-align: center;
    }

}

@media (min-width:768px) and (max-width:991.99px){
    nav .sidebyside {
        justify-content: space-around;
        align-items: center;
    }
    #banner h1 {
        font-size: 33px;
        line-height: 50px;
    }

    #banner p {
        font-size: 14px;
    }

    .banner-left{
        padding-left: 10px;
    }

    .brands_image {
        padding: 20px 10px;
    }
    #brand img {
        width: 85px;
    }
    .collection-items .item h3 {
        font-size: 21px;
    }
    #feature .sidebyside {
        column-gap: 14px;
    }

    #feature .feature-right h2 {
        font-size: 24px;
        text-align: left;
        margin-top: 18px;
    }
    #feature .feature-right p {
        text-align: left;
        font-size: 12px;
    }

    #feature .feature-right {
        text-align: center;
    }

}

@media (min-width:992px) and (max-width:1199.99px){
    nav{
        padding-left: 15px;
        padding-right: 15px;
    }
    nav .sidebyside {
        align-items: center;
    }
    #banner {
        padding-left: 15px;
        padding-right: 15px;
    }
}
